<div id="addDataContainer">
    <h2>İşçi artır</h2>
    <form id="addDataForm">
        <label for="username">İstifadəçi adı:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Şifrə:</label>
        <input type="text" id="password" name="password" required>
        
        <button type="submit">Artır</button>
    </form>
</div>
