<div id="addDataContainer">
    <h2>Filial artır</h2>
    <form id="addDataForm">
        <label for="name">Filial:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="is24Hour">24 Saat Açıq:</label>
        <input type="checkbox" id="is24Hour" name="is24Hour">

        <label for="serviceFee">Servis haqqı:</label>
        <input type="number" id="serviceFee" name="serviceFee" required>

        <label for="opening">Açılış Saatı:</label>
        <input type="time" id="opening" name="opening" required>

        <label for="closing">Bağlanış Saatı:</label>
        <input type="time" id="closing" name="closing" min="0" max="23" required>

        <label for="googleMapsLocation">Google Maps Link:</label>
        <input type="text" id="googleMapsLocation" name="googleMapsLocation" required>

        <label for="googleMapsEmbed">Google Maps Embed:</label>
        <input type="text" id="googleMapsEmbed" name="googleMapsEmbed" required>

        <label for="country">Ölkə:</label>
        <input type="text" id="country" name="country" required>

        <label for="city">Şəhər:</label>
        <input type="text" id="city" name="city" required>

        <label for="region">Region:</label>
        <input type="text" id="region" name="region">

        <label for="street">Küçə:</label>
        <input type="text" id="street" name="street" required>
        
        <button type="submit">Artır</button>
    </form>
</div>